<div uk-grid>
    <div class="uk-width-1-1@s uk-width-1-6@m uk-visible@m">
        <ul class="uk-nav uk-nav-default">
            <li>
                <a (click)="showAll()">Toutes les commandes</a>
            </li>
            <li>
                <a (click)="showPending()">En attente</a>
            </li>
            <li>
                <a (click)="showDone()">Terminé</a>
            </li>
        </ul>
    </div>


    <div class="uk-width-1-1@s uk-width-5-6@m mainContent">

        <div *ngFor="let comm of commandes" class="uk-card uk-card-default uk-grid-collapse uk-margin uk-box-shadow-medium uk-animation-slide-top-small" uk-grid>

            <div class="uk-card-media-left uk-cover-container uk-width-1-3@m">
                <div class="uk-card-badge uk-label uk-hidden@m" [ngClass]="{'label-disabled': comm.statut==='Terminé'}">
                    {{comm.statut}} 
                </div>
                <img src="{{comm.imagePrincipale}}" alt="{{restaurant.description}}" uk-cover>
                <canvas width="600" height="400"></canvas>
            </div>
            <div class="uk-card uk-card-default uk-width-expand">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middlE" uk-grid>
                        <div class="uk-width-expand">
                            <div class="uk-card-badge uk-label uk-visible@m" [ngClass]="{'label-disabled': comm.statut==='Terminé'}">
                                {{comm.statut}} 
                            </div>
                            <h3 class="uk-card-title uk-margin-remove-bottom">Commande passé chez {{restaurant.name}}</h3>
                            <p class="uk-text-meta uk-margin-remove-top">
                                Commande n° {{comm.id}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <ul *ngIf="comm.listePlats.length != 0; else noDataFound" class="uk-list uk-list-divider">
                        <li *ngFor="let plat of comm.listePlats">1x {{plat}} </li>
                    </ul>
                </div>
                <div class="uk-card-footer">
                    <button *ngIf="comm.statut != 'Terminé'" type="button" class="btn btn-info btn-sm float-right" routerLink="/mapRoute/{{restaurant.id}}">Chercher ma commande</button>
                    <button type="button" class="btn btn-link btn-sm float-right" routerLink="/commandes/{{comm.id}}">Plus de détail &raquo;</button>
                </div>
            </div>
        </div>

    </div>
</div>


<ng-template #noDataFound>
  <div>
    <p>Erreur : Aucune données trouvées</p>
</div>
</ng-template>
