<div class="uk-cover-container uk-height-medium uk-visible@m">
    <video autoplay loop muted playsinline uk-cover>
        <source src="https://quirksmode.org/html5/videos/big_buck_bunny.mp4" type="video/mp4">
        <source src="https://quirksmode.org/html5/videos/big_buck_bunny.ogv" type="video/ogg">
    </video>
</div>

<div class="uk-child-width-1-4@m" uk-grid style="padding-top: 20px;">
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="assets/light.jpg" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Media Top</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="assets/light.jpg" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Media Top</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
        </div>
    </div>
</div>
